/target/
/pywebron/_pywebron_.cp314-win_amd64.pyd
/pywebron/_pywebron_.pdb

# Python 缓存文件
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/.vscode/settings.json
/.idea/pywebron.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
